<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>505070899389-gip5al8tp53juee73o962r47o52lqs7m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.505070899389-gip5al8tp53juee73o962r47o52lqs7m</string>
	<key>API_KEY</key>
	<string>AIzaSyBF6ipRUn1Vmv2_L6HCf2iekbH8GDGSt0Y</string>
	<key>GCM_SENDER_ID</key>
	<string>505070899389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chatgpt3</string>
	<key>PROJECT_ID</key>
	<string>chatgpt-d10cc</string>
	<key>STORAGE_BUCKET</key>
	<string>chatgpt-d10cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:505070899389:ios:4e6dd180d60e033c2927d4</string>
</dict>
</plist>